<div *ngIf="isOpen" class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Edit Post</h2>
            <button mat-icon-button (click)="close()" aria-label="Close">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="modal-body">
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput [(ngModel)]="selectedPost.title" name="title" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Content</mat-label>
                    <textarea matInput [(ngModel)]="selectedPost.body" name="body" required></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>UserID</mat-label>
                    <select matNativeControl [(ngModel)]="selectedUser" name="user" required>
                        <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
                    </select>
                </mat-form-field>

            </form>
        </div>

        <div class="modal-footer">
            <button mat-button color="primary" (click)="saveChanges()">Save Changes</button>
            <button mat-button (click)="close()">Cancel</button>
        </div>
    </div>
</div>